@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap");

:root {
  --primary-color: #1c6093;
  --title-color: #f9a630;
  --text-color: #6c6c80;
}

#page-home,
#base,
#funcionario {
  height: 100vh;
  background: url("./assets/home-background.svg") no-repeat 500px bottom;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}
